{% extends 'base.html' %}


{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class ="p-4 m-3">
        <div class ="col-lg-4 mb-4 mt-4 mx-auto p-lg-3 border rounded border-dark pt-5 ">
        <h3 class ="alert alert-light border rounded">Login Here</h3>
         <form action="/login" method="POST">

            {% csrf_token %}
             {% if error %}
              <div class="alert alert-danger" role="alert">
                {{error}}
             </div>
            {% endif %}


           <!-- email-->
            <div class="form-group">
              <label for="email"> Email &nbsp &nbsp &nbsp &nbsp  </label>
              <input required type="email" name="email"  id=""
               value="{{values.email}}"
               class="form-control form-control-sm" placeholder="example@gmail.com" >
            </div>&nbsp; 
             
            <!-- password-->
            <div class="form-group">
                <label for="password">Password&nbsp</label>
                <input type="password" name="password" 
                id=""  
                class=" form-control form-control-sm" placeholder="******" >
           </div>
             &nbsp
           <div class ="form-group">
               <input type="submit" class="btn btn-lg btn-primary btn-block btn-large">
           </div>
         </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
